@charset "utf-8";
/* CSS Document */

@font-face {
      font-family: 'bebas';
      src: url('../fonts/bebas___-webfont.eot');
      src: url('../fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/bebas___-webfont.woff') format('woff'),
           url('../fonts/bebas___-webfont.ttf') format('truetype'),
           url('../fonts/bebas___-webfont.svg#bebas') format('svg');
      font-weight: normal;
      font-style: normal;
}

@font-face {
    font-family: 'quicksandbook';
    src: url('../fonts/quicksand_book-webfont.eot');
    src: url('../fonts/quicksand_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand_book-webfont.woff') format('woff'),
         url('../fonts/quicksand_book-webfont.ttf') format('truetype'),
         url('../fonts/quicksand_book-webfont.svg#quicksandbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  color:#313131;
  margin:10px 0;
}
h1 {
  font-family: 'bebas';
  font-size:38px;
  padding: 15px;
  margin-bottom: 40px;
  color: #fff;
  margin-top: 0;
}
h2 {
  font-size:30px;
}
h3 {
  font-size:22px;
}
h4 {
  font-size:20px;
}
body {
  background:#fff url(../images/background.png) repeat;
  font-family: Sans-Serif;
  font-size:14px;
  margin:0;
  text-align:center;
}
.wrap{
  min-height: 600px;
  width: 960px;
  margin: 0 auto;
}
.wrap-out{
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: auto;
  display: block;
  border-top: 4px solid #fafafa;
  box-shadow: inset 0px 10px 20px rgba(0,0,0,.2);
}

.wrap h1 {
  margin-top: 40px;
}

/*title*/

.title {
  background: #ffcc66;
  text-align: center;
  color: #fff;
}

.wrap h1.index{
  font-size: 75px;
  margin-top: 60px;
  line-height: 92px;
}

.tag {
  font-size: 38px;
  font-family: 'quicksandbook';
  text-transform: uppercase;
}

.milestones h1 {
  font-size: 48px;
  color: #555;
  text-align: left;
  width: 960px;
  margin: 0 auto;
  padding: 30px 0;
}

.timeline{
  padding-bottom: 40px;
}

.operators{
  background: #fff;
  padding: 20px 0 70px;
}

.graphs{
  background: #00b1e1;
  padding-bottom: 50px;
}

.data-green {
  background: #3CBEA0;
}

.data-blue {
  background: #00b1e1;
}

.policies{
  background: #0BC033;
}

.t_controles{
  margin-top: 30px;
}

a {
  text-decoration:none;
  color:#1a86ac;
}

a img {
  border:0;
}
.clear {
  clear:both;
}

/* graphs */

.wrap h1 {
  font-size: 48px;
 text-transform: uppercase;
}

.wrap h1 span {
  font-size: 23px;
  font-family: 'bebas';
  display: block;
  line-height: 46px;
}

.graphs .wrap h1 {
  text-align: left;
}

#canvas_telecom_glance canvas{
  left: 0;
}

.legend-group{
  float: right;
  background: #fff;
  border-radius: 6px;
  margin: -50px 0 40px;
  font-family: 'Arial';
  font-weight: bold;
  font-size: 13px;
}
.legend{
  float: left;
  padding: 6px;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: .8;
}
.legend .list-box{
  height: 16px;
  width: 16px;
  float: left;
  margin-right: 5px;
  margin-top: 1px;
}
.legend.tele .list-box{
  background: #00b1e1;
}
.legend.tele{
  color: #00b1e1;
}
.legend.data .list-box{
  background: #3CBEA0;
}
.legend.data{
  color: #3CBEA0;
}
.legend.active, .legend:hover{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


/*operators*/

.operators-wrapper {
  position: relative;
  border-radius: 50%;
  height: 560px;
  width: 560px;
  min-height: auto;
  margin: 0 auto;
 /* background: rgb(219, 83, 57);*/
  background: #eee;
  /*border: 6px solid rgb(255, 200, 169);*/
  border: 4px solid #ddd;
}

.operators h1 {
  text-align: right;
  font-size: 48px;
  color: #333;
}

.overview{
  font-size: 1.2em;
  margin-top: 22%;
  line-height: 2em;
  font-family: 'bebas';
  font-weight: 100;
  letter-spacing: 0px;
  color: #333;
  font-family: 'quicksandbook';
}
.box {
  width: 140px;
  line-height: 140px;
  margin-bottom: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid #bbb;
  box-shadow: inset 0 0 0 7px rgba(255,255,255,1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.box:hover{
  border-color: #555;
  box-shadow: inset 0 0 0 0px rgba(255,255,255,0.8);
}
.box img{
  vertical-align: middle;
  display: inline-block;
}
.circles {
  margin-right: 20px;
  float: left;
  position: absolute;
}

.circle-holder1 {
  top: -50px;
  left: 220px;
}

.circle-holder2 {
  top: 200px;
  right: -80px;
}

.circle-holder3 {
  top: 200px;
  left: -60px;
}

.circle-holder4 {
  bottom: -80px;
  left: 220px;
}

#circle {
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,.9);
  border-radius: 20px;
  color: #fff;
  margin: 0 auto;
  clear: both;
  position: absolute;
  opacity: 0;
  top: 270px;
  left: 270px;
}

#circle b{
  color: #def;
  font-family: quicksandbook;
  line-height: 26px;
  font-size: 16px;
  text-shadow: 1px 1px 1px #000;
}
.close{
  cursor: pointer;
  background: rgb(160, 41, 36);
  padding: 2px 8px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000;
}
.close:hover{
  background: rgb(192, 50, 44);
}
.text {
  display: none;
}

#circle div{
  display: none;
}

.stats-bar{
  width: 280px;
  border: 1px solid #ddd;
  height: 20px;
  margin: 0 auto;
  padding: 1px;
  position: relative;
}
.stats-bar span{
  height: 20px;
  float: left;
}
.green{
  background: #8CC63E;
}
.blue{
  background: #2A6FA1;
}
.red{
  background: #E42741;
}
.orange{
  background: #F3912E;
}
.yellow{
  background: #F2A544;
}
.gray{
  background: #777;
}
.purple{
  background: #9F85B2;
}
.blue-hue{
  background: #4748AA;
}
.stats-details ul{
  margin: 8px 40px;
  padding: 0px;
}
.stats-details li{
  display: inline-block;
  color: #fff;
  padding: 0px 4px;
  font-size: 12px;
  line-height: 20px
}


/*policies*/


.policies {
  background: #3d3d3d;
}

.policies-wrapper {
  padding-top: 40px;
  overflow: hidden;
}

.policies-block {
  background: #2d2d2d;
  width: 190px;
  float: left;
  padding: 14px 0;
  margin-left: 50px;
}

.policies1 {
  margin-left: 0;
}

.operator-logo {
  background: url(../images/gradient-bg.gif) repeat-x 0 0;
  line-height: 86px;
  text-align: center;
}

.operator-logo img {
  vertical-align: middle;
}

.policies h1 {
  text-align: right;
}

.policies-block ul {
  padding: 0 35px;
}

.policies-block ul li {
  list-style: none;
  color: #fff;
  font: 16px/20px 'quicksandbook';
  padding: 13px 0;
  text-align: center;
}

/*punchline*/

.punchline {
  text-align: center;
  padding: 60px 0 0;
}


.punch-line {
  font-size: 38px;
  font-family: 'quicksandbook';
  color: #3d3d3d;
  text-transform: uppercase;
}

.punch-line span {
  font-family: 'bebas';
  font-size: 84px;
  color: #2d2d2d;
  display: block;
  line-height: 110px;
}

