@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'quicksandbook';
    src: url('../fonts/quicksand_book-webfont.eot');
    src: url('../fonts/quicksand_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand_book-webfont.woff') format('woff'),
         url('../fonts/quicksand_book-webfont.ttf') format('truetype'),
         url('../fonts/quicksand_book-webfont.svg#quicksandbook') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  color:#313131;
  margin:10px 0;
}
h1 {
  font-family: Sans-Serif;
  font-size:38px;
  padding: 15px;
  margin-bottom: 40px;
  color: #fff;
  margin-top: 0;
}
h2 {
  font-size:30px;
}
h3 {
  font-size:22px;
}
h4 {
  font-size:20px;
}
body {
  background:#fff url(../images/background.png) repeat;
  font-family: Sans-Serif;
  font-size:14px;
  margin:0;
  text-align:center;
}
.wrap{
  min-height: 600px;
  width: 960px;
  margin: 0 auto;
}
.wrap-out{
  width: 90%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: auto;
  display: block;
  padding: 2% 5%;
}
.timeline{
  padding-bottom: 40px;
}
h1.index{
  background: #1863A9;
}
.operators{
  background: #ddd;
  padding-bottom: 70px;
}
.graphs{
  background: #18CDE8;
}
.policies{
  background: #0BC033;
}
.t_controles{
  margin-top: 30px;
}
a {
  text-decoration:none;
  color:#1a86ac;
}

a img {
  border:0;
}
.clear {
  clear:both;
}

/* graphs */

#canvas_telecom_glance canvas{
  left: 0;
}

.legend-group{
  float: right;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 8px;
}
.legend{
  float: left;
  padding: 6px;
}
.legend .box{
  height: 16px;
  width: 16px;
  float: left;
  margin-right: 5px;
  margin-top: 1px;
}
.legend.tele .box{
  background: #FB5352;
}
.legend.tele{
  color: #FB5352
}
.legend.data .box{
  background: #3CBEA0;
}
.legend.data{
  color: #3CBEA0;
}

/*operators*/

.operators .wrap {
  position: relative;
  border-radius: 50%;
  background: #fff;
  height: 560px;
  width: 560px;
  min-height: auto;
  border: 1px solid #bbb;
}
.overview{
  font-size: 2em;
  font-family: impact;
  margin-top: 25%;
  line-height: 2em;
}
.box {
  width: 140px;
  line-height: 140px;
  background: red;
  margin-bottom: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.box img{
  vertical-align: middle;
  display: inline-block;
}
.ntc{
  background: #369;
}
.ncell{

}
.utl{

}
.smart-telecom{

}
.circles {
  margin-right: 20px;
  float: left;
  position: absolute;
}

.circle-holder1 {
  top: -50px;
  left: 220px;
}

.circle-holder2 {
  top: 200px;
  right: -80px;
}

.circle-holder3 {
  top: 200px;
  left: -60px;
}

.circle-holder4 {
  bottom: -80px;
  left: 220px;
}

#circle {
  width: 32px;
  height: 32px;
  background: #ffb502;
  border-radius: 20px;
  margin: 0 auto;
  clear: both;
  position: absolute;
  top: 270px;
  left: 270px;
}

.text {
  display: none;
}

#circle div{
  display: none;
}


/*policies*/


.policies {
  background: #3d3d3d;
}

.policies-block {
  background: #2d2d2d;
  width: 190px;
  float: left;
  padding: 14px 0;
  margin-left: 50px;
}

.policies1 {
  margin-left: 0;
}

.operator-logo {
  background: url(../images/gradient-bg.gif) repeat-x 0 0;
  line-height: 86px;
  text-align: center;
}

.operator-logo img {
  vertical-align: middle;
}

.policies-block ul {
  padding: 0 35px;
}

.policies-block ul li {
  list-style: none;
  color: #fff;
  font: 16px/20px 'quicksandbook';
  padding: 13px 0;
  text-align: center;
}